@using EntityLayer.Concrete
@model List<WritterMessage>

@{
    ViewData["Title"] = "SenderMessage";
    Layout = "~/Views/Shared/_WritterLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Giden Kutusu</h4>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Konu</th>
							<th>Alıcı</th>
							<th>Tarih</th>
							<th>Detaylar</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<th>@item.WritterMessageID</th>
								<td>@item.Subject</td>@item
								<td>@item.ReceiverName</td>@item
								<td>@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</td>
								<th><a href="/Writter/Message/ReceiverMessageDetails/@item.WritterMessageID" class="btn btn-primary">Mesajı Aç</a></th>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

