@model EntityLayer.Concrete.Skill

@{
    ViewData["Title"] = "UpdateSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Yetenek Düzenleme Sayfası </p>
            <form method="post" class="forms-sample">
                <input type="hidden" asp-for="SkillID" />
                <div class="form-group">
                    <label>Başlık</label>
                    <input type="text" class="form-control" asp-for="Title">
                </div>
                <div class="form-group">
                    <label>Değer</label>
                    <input type="text" class="form-control" asp-for="Value">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
            </form>
        </div>
    </div>
</div>

@*<div class="card-header border-0">
    <h3 class="mb-0">Yetenek Düzenleme Sayfası</h3>
    <form method="post" class="form-group">
        <input type="hidden" asp-for="SkillID" />
        <br />
        <label>Yetenek Başlığı</label>
        <input type="text" class="form-control" asp-for="Title" />
        <br />
        <label>Değer</label>
        <input type="text" class="form-control" asp-for="Value" />
        <br />
        <button class="btn btn-dark">Kaydet</button>
    </form>
</div>*@

