@model EntityLayer.Concrete.Portfolio

@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Proje Ekleme Sayfası </p>
            <form method="post" class="forms-sample">
                <div class="form-group">
                    <label>Proje Adı</label>
                    <input type="text" class="form-control" name="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label>Görsel-1</label>
                    <input type="text" class="form-control" name="ImageUrl">
                    <span class="text-danger" asp-validation-for="ImageUrl"></span>
                </div>
                <div class="form-group">
                    <label>Görsel-2</label>
                    <input type="text" class="form-control" name="ImageUrl2">
                    <span class="text-danger" asp-validation-for="ImageUrl2"></span>
                </div>
                <div class="form-group">
                    <label>Proje Linki</label>
                    <input type="text" class="form-control" name="ProjectUrl">
                    <span class="text-danger" asp-validation-for="ProjectUrl"></span>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
            </form>
        </div>
    </div>
</div>

@*<div class="card-header border-0">
    <h3 class="mb-0">Proje Ekleme Sayfası</h3>
    <form method="post" class="form-group">
        <br />
        <label>Proje Adı</label>
        <input type="text" name="Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
        <br />
        <label>Görsel-1</label>
        <input type="text" name="ImageUrl" class="form-control" />
        <span class="text-danger" asp-validation-for="ImageUrl"></span>
        <br />
        <label>Görsel-2</label>
        <input type="text" name="ImageUrl2" class="form-control" />
        <span class="text-danger" asp-validation-for="ImageUrl2"></span>
        <br />
        <label>Proje Linki</label>
        <input type="text" name="ProjectUrl" class="form-control" />
        <span class="text-danger" asp-validation-for="ProjectUrl"></span>
        <br />
        <button class="btn btn-dark">Kaydet</button>
    </form>
</div>*@

